<% if username %>
Welcome <%= username %>  <a href="/logout">Logout</a> | <a href="/newpost">New Post</a> | <a href="/">Home</a>
<% else %>
Welcome guest <a href="/login">Login</a> | <a href="/signup">Signup</a> | <a href="/">Home</a>
<% end %>
<h1>Create a new post</h1>
<form method="post" action="/newpost">
  <p class="error"><%= errors %></p>
  <h2>Title</h2> (required)<br>
  <input type="text" name="subject" size="120" id="subject"><br>
  <h2>Blog Entry</h2> (required)<br>
  <textarea name="body" cols="120" rows="20" id="body"></textarea><br>
  <h2>Tags</h2> 
  Comma sperated, please<br>
  <input type="text" name="tags" size="120" id="tags"><br>
  <input type="submit">
</form>