Already a user? <a href="/login">Login</a><p>
<h2>Signup</h2>
<form method="post" action="/signup">
  <table>
    <tr>
      <td class="label">
        Username
      </td>
      <td>
        <input type="text" name="username" id="username">
      </td>
      <td class="error">
        <%= @errors && @errors['username_error'] %>
      </td>
    </tr>

    <tr>
      <td class="label">
        Password
      </td>
      <td>
        <input type="password" name="password" id="password">
      </td>
      <td class="error">
        <%= @errors && @errors['password_error'] %>
      </td>      
    </tr>

    <tr>
      <td class="label">
        Verify Password
      </td>
      <td>
        <input type="password" name="verify" id="verify">
      </td>
      <td class="error">
        <%= @errors && @errors['verify_error'] %>
      </td>      
    </tr>

    <tr>
      <td class="label">
        Email (optional)
      </td>
      <td>
        <input type="text" name="email" id="email">
      </td>
      <td class="error">
        <%= @errors && @errors['email_error'] %>
      </td>      
    </tr>
  </table>
  <input type="submit">
</form>